<html>
	
	<head>
		<meta charset = "utf-8" />
          
        <title>
            Seven Wonders of the Ancient World
        </title>
				<link href="../Styles/Stylesheet.css" rel="stylesheet"/>

		<script src="../Scripts/menubar.js"></script>
		<script src="../Scripts/feedbackbox.js"></script>
	</head>
	
	
	
	<body onload="menubar();">
		
		<div id="wrapper"></div>
		
		<h2>The Taj Mahal</h2>
		
		
		<div class="informationDiv" id="information">
			<p class="informationP">
				The Taj Mahal, Crown of the Palace, is an ivory-white marble mausoleum on the southern bank of the river Yamuna in the Indian city of Agra. It was commissioned in 1632 by the Mughal emperor Shah Jahan to house the tomb of his favourite wife, Mumtaz Mahal. It also houses the tomb of Shah Jahan. The tomb is the centrepiece of a 17-hectare complex which includes a mosque and a guest house and is set in formal gardens bounded on three sides by a crenelated wall.
			</p>
			<ul class="informationUL">
				<li>Country --- India</li>
				<li>Year of Construction --- 1632-53AD</li>
				<li>Built For --- Mumtaz Mahal</li>
				<li>Use --- Mausoleum</li>
			</ul>		
			<img src="../Assets/TajMahal.jpg" alt="The Taj Mahal"  class="informationImage"></img>
		
			
		</div>

		
		<div>
			<p>
				Data from <a href="">wikipedia</a>
			</p>
		<div>
		
		<div id="footer"></div>
		<p><a id="sendButton"></a>
		
	</body>
	
	
</html>